<p class="text-green-600"><%= notice %></p>
<h1 class="font-bold  mb-3 ext-center article-heading">Articles</h1>
<%= form_with(url: articles_path, method: :get, data: {controller:"search-form", turbo_frame: "articles"}) do |form| %>
  <div class="flex space-x-3">
    <%= form.text_field :query, placeholder: "Search by article title", class: "form-input block w-full mt-8 px-4 py-2 text-xl font-normal rounded m-0 f focus:border-[#3ca367] focus:ring-[#3ca367] focus:ring-1 search-field", data: {action:"input->search-form#search"} %>
  </div>
<% end %>

<%= turbo_frame_tag "articles" do %>
  <%= render "articles", articles: @articles %>
<% end %>


